# Project exclude paths
/backend/node_modules/
/backend/node_modules/cors/LICENSE
/backend/node_modules/cors/README.md
/backend/node_modules/dotenv/
/backend/node_modules/express/LICENSE
/backend/node_modules/express/Readme.md
/backend/node_modules/oracledb/
/backend/node_modules/oracledb/package/README.md